[submodule "dosimeter"]
	path = dosimeter
	url = https://github.com/Igor1101/dosimeter.git
[submodule "at_simmodule"]
	path = simmodule_drv 
	url = https://github.com/Igor1101/simmodule_drv.git
[submodule "jWrite"]
	path = jWrite
	url = https://github.com/jonaskgandersson/jWrite.git
